version: "3"
services:
  reverseproxy:
    build:
      context: ./udagram-reverseproxy
    image: raniaashraf200/reverseproxy:v6
  backend_user:
    build:
      context: ./udagram-api-user
    image: raniaashraf200/udagram-api-user:v7
  backend_feed:
    build:
      context: ./udagram-api-feed
    image: raniaashraf200/udagram-api-feed:v6
  frontend:
    build:
      context: ./udagram-frontend
    image: raniaashraf200/udagram-frontend:v7